<!doctype html>
<html>
<head>
    <title>Movie List - MyFlix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>MyFlix Movies</h1>
    </header>
    <!-- Featured Movie Section -->
    <div class="featured-movie">
        <img src="http://image.tmdb.org/t/p/original{{ featured_movie.poster_path }}" alt="{{ featured_movie.original_title }}" class="featured-movie-image">
        <div class="featured-movie-info">
            <h2 class="featured-movie-title">{{ featured_movie.original_title }}</h2>
            <p class="featured-movie-overview">{{ featured_movie.overview }}</p>
            <!-- Additional controls like play button or add to list could be added here -->
        </div>
    </div>
    <div class="movie-list">
        {% for movie in movies %}
        <div class="movie">
            <img src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.original_title }}">
            <div class="movie-info">
                <h2 class="movie-title">{{ movie.original_title }}</h2>
                <p class="movie-overview">{{ movie.overview }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
